body{
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
}

.nav-container{
    border: 1px solid #FFFFFF;
    background-color: #fff;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-top-width: 5px;
    border-top-color: #29CA8E;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-container a{
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    padding-top: 26px;
    padding-bottom: 26px;
    color: #454545; 
    font-weight: bold;
}

.nav-container a:hover{
    background-color: #29CA8E;
    color: white;
    width: 12px;
    transition: opacity 0.3s;
}

.nav-container a.active{
    background-color: #29CA8E;
    color: white;
}

.known{
    position: absolute;
    left: 3%;
    top: 37%;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #454545;
}

.contact-info {
  display: flex;     
  align-items: center;
  position: relative;
  right: 10%;  
}

.phone-icon {
  width: 20px;          
  height: 20px;
  margin-right: 8px;    
  fill: #333;  
  background-color: #29CA8E; 
  color: #fff;  
  font-weight: 700;
  border-radius: 10px;      
}

.phone-number {
  font-size: 11px;
  color: #333;
}

.links{
    font-size: 10px;
    font-weight: 100;
    position: relative;
    left: 1%;
}

.lower img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.efficient{
    border: 1px solid red;
    /* width: 600px; */       /********** DYNAMIC ***********/
    margin-top: -600px;
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.first_paragraph{
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}

.second_paragraph{
    color: #FFFFFF;
    font-size: 15px;
    margin-top: -15px;
}

.efficient button{
    border: 1px solid white;
    margin-top: 20px;
    padding: 15px;
    width: 100px;
    border-radius: 25px;
    font-size: 12px;
    background-color: transparent;
    color: #FFFFFF;
}

.efficient button:hover{
    color: black;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: white;
}

.three{
    border: 1px solid none;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 401px;
    margin-left: 90px;
}

.three .one_three{
    border: 2px solid whitesmoke;
    margin-top: 90px;  /************ DYNAMIC **************/
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 30px;
}

.three .one_inner{
    border: 2px solid #3F51B5;
    background-color: #3f51b5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.three .one_inner p{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin-top: 8px;
}

.three .one_three .trend{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-top: 6px;
    padding: 5px;
}

.three .two_three{
    border: 2px solid whitesmoke;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 30px; 
}


.three .two_inner{
    border: 2px solid #3F51B5;
    background-color: #3f51b5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.three .two_inner p{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin-top: 6px;
}

.three .two_three .book{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-top: 8px;
    padding: 5px;
}

.three .three_third{
    border: 2px solid whitesmoke;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
    width: 300px; 
    padding: 30px; 
}
.three .three_inner{
    border: 2px solid #3F51B5;
    background-color: #3f51b5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.three .three_inner p{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin-top: 6px;
}

.three_third .certified{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-top: 8px;
    padding: 5px;
}


/***************** ABOUT SECTION ******************/

.practical{
    border: 1px solid none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
}

.practical .journey{
    width: 550px;
    padding: 40px;
    margin-left: 50px;
}

.practical .start{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #353535;
}

.practical .journey .vec{
    font-size: 15px;
}

.form{
    border: 1px solid none;
    background-color: #252020;
    width: 410px;
    height: 410px;
    padding: 20px;
    margin-right: 100px;
    border-radius: 50%;
}

.form .name{
    border: none;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 25px;
    width: 250px;
    background-color: #252020;
}

.form .name:focus{
    outline: none;
}

.form .email{
    border: 1px none;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 25px;
    width: 250px;
    background-color: #252020;
}


.form .email:focus{
    outline: none;
}


.form .password{
    border: 1px none #252020;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 25px;
    width: 250px;
    background-color: #252020;
}


.form .password:focus{
    outline: none;
}


.form .get_started{
    border: 1px solid #3F51B5; 
    margin-left: 110px;
    margin-top: 30px;
    padding: 15px;
    width: 130px;
    border-radius: 25px;
    font-size: 12px;
    background-color: #fff; 
    color: black;
}

.form .get_started:hover{
    color: white; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: #3F51B5;
}

.form .sign{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 65px;
    color: white;
}

.trainers{
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
}


.cert{
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}


.free{
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}


                                    /************************ END OF THE ABOUT SECTION ************************/



                                    /******************* BEGINNING OF THE TEACHER SECTION ***********************/

/* Base container styling */
.teacher {
    border: 1px solid #f3f3f3;
    background-color: #f9f9f9;
}

/* Instructor text styles */
.teacher .teach {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 30px;
}

.teacher .meet {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 20px; 
    color: #353535;
}

/* Flexbox container for cards (DESKTOP LAYOUT) */

.teacher .imageCard-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px;
    padding: 80px;
    margin-top: -10px;
}


/* Individual card styling */


.card {
    flex: 1 1 200px; 
    overflow: hidden;
    background-color: #fff;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: fill;
    object-position: center;
    display: block; 
}

.card-content {
    padding: 20px;
    line-height: 15px;
}

.card-content h3 {
    margin-top: 0;
    margin-bottom: 5px; 
    font-size: 18px;
}

.card-content p{
    font-size: 12px;
}

.card-content .svg{
    border: 1px solid #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
}

.card-content .svg .facebook{
    margin-top: 10px;
}

.card-content .svg .facebook:hover{
    color: #29CA8E;
    transition: border 0.3s ease-out;
    cursor: pointer;
}

.card-content .svg .twitter{
    margin-top: 10px;
}

.card-content .svg .twitter:hover{
    color: #29CA8E;
    transition: border 0.3s ease-out;
    cursor: pointer;
}

.card-content .svg .instagram{
    margin-top: 10px;
}

.card-content .svg .instagram:hover{
    color: #29CA8E;
    transition: border 0.3s ease-out;
    cursor: pointer;
}

.card-content .catherine_svg{
    border: 1px solid #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.card-content .catherine_svg .google{
    margin-top: 10px;
}

.card-content .catherine_svg .google:hover{
    color: #29CA8E;
    transition: border 0.3s ease-out;
    cursor: pointer;
}


.card-content .catherine_svg .catherine_instagram{
    margin-top: 10px;
}

.card-content .catherine_svg .catherine_instagram:hover{
    color: #29CA8E;
    transition: fill 0.3s ease-out;
    cursor: pointer;
}

.card-content .jessie_svg{
    border: 1px solid #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.card-content .jessie_svg .twitter{
    margin-top: 10px;
}

.card-content .jessie_svg .twitter:hover{
    color: #29CA8E;
    transition: border 0.3s ease-out;
    cursor: pointer;
}

.card-content .jessie_svg .mailbox{
    margin-top: 10px;
}

.card-content .jessie_svg .mailbox:hover{
    color: #29CA8E;
    transition: border 0.3s ease-out;
    cursor: pointer;
}

.card-content .jessie_svg .linkedin{
    margin-top: 10px;
}

.card-content .jessie_svg .linkedin:hover{
    color: #29CA8E;
    transition: border 0.3s ease-out;
    cursor: pointer;
}

.card-content .andrew{
    border: 1px solid #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.card-content .andrew .andrew_twitter{
    margin-top: 10px;
}

.card-content .andrew .andrew_twitter:hover{
    color: #29CA8E;
    transition: border 0.3s ease-out;
    cursor: pointer;
}

.card-content .andrew .andrew_google{
    margin-top: 10px;
}

.card-content .andrew .andrew_google:hover{
    color: #29CA8E;
    transition: border 0.3s ease-out;
    cursor: pointer;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: black;
}


.trainers i, .cert i, .free i {
    margin-right: 10px;
    color: #29CA8E;
}
/************ END OF THE FIRST IMAGE ***************/





/*********************** POPULAR COURSE *******************/

.popular_courses{
    border: 1px solid none;
    margin-top: 70px;
    margin-left: 65px;
    width: 90%;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.skills{
    text-align: center;
}

.section-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 1px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}


.courses{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 25px;
  padding: 20px 10px;
  scrollbar-width: none;
}

.courses::-webkit-scrollbar {
  display: none;
}

.course-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 340px;
  flex: 0 0 auto;
}


.course-image {
  position: relative;
}

.course-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.course-meta {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
}

.course-content {
  padding: 15px;
}

.course-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.course-content:hover{
    color: #29CA8E;
    cursor: pointer;
}

.course-content p {
  font-size: 14px;
  color: #666;
}

.course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 12px 15px;
}

.instructor {
  display: flex;
  align-items: center;
  gap: 8px;
}

.instructor img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.price {
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px;
}

.price.free {
  background: #4e5eff;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.price.paid {
  background: #17c964;
  color: #fff;
  cursor: pointer;
}

/* Scroll buttons at bottom */
.scroll-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.scroll-btn {
  background: #fff;
  border: none;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.2); */
  cursor: pointer;
  width: 20px;
  height: 20px;
  /* border-radius: 50%; */
  font-size: 12px;
  transition: all 0.3s ease;
}

.scroll-btn:hover {
  background: whitesmoke;
  color: #fff;
}



/* REVIEW SECTION */

.review_section{
    border: 1px solid black;
    background-color: #fafafa;
    margin-top: 50px;
    padding: 100px;
    width: 100%;
    /* height: 100vh; */
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  color: #333;
}

.reviews-section {
  text-align: center;
  padding: 20px;
}

.reviews-section h2 {
  font-size: 2rem;
  /* margin-bottom: 5px; */
}

.subtitle {
  color: #777;
  margin-bottom: 30px;
}

.reviews-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* padding: 20px; */
  /* margin-bottom: 70px; */
  scrollbar-width: none;
}

.reviews-container::-webkit-scrollbar {
  display: none;
}

.review-card {
  flex: 0 0 300px;
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); */
  text-align: left;
  /* transition: transform 0.3s ease; */
}

.review-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.review-card h3 {
  margin: 0;
  display: flex;
  flex-direction: row; 
  font-size: 1.2rem;
  font-weight: 600;
}

.role {
  color: #888;
  margin-bottom: 15px;
  /* display: flex;
  flex-direction: row; */
}

.text {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.6;
}

.stars {
  color: #007bff;
  font-size: 1rem;
  margin-top: 10px;
}

.review-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.review-btn {
  background: #869791;
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 4px;
  cursor: pointer;
  /* transition: background 0.3s; */
}

.review-btn:hover {
  background: #fafafa;
}


































/* WRITING FOR THE MEDIOA QUERY */

@media screen and (max-width:768px) {
    body{
        padding: 0;
        margin: 0;
    }


    .nav-container{ 
        position: sticky;
        top: 0;
        overflow: visible;      /*********** MADE CHANGES FROM HIDDEN TO VISIBLE ***********/
    }   


    .nav-container .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .nav-container .links.show{
        display: block;
    }
    
    .teacher .imageCard-container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .card{
        width: 90%;
        max-width: 350px;
        flex: 0 0 auto;
        margin-bottom: 20px;
    }

     .hamburger{
        display: block;
        z-index: 1000;
    }

    .links{
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        text-align: center; 
    }

    .links:hover{
        color: #29CA8E;
    }

    /* WHERE I MADE CHANGES */

.links a{
  display: block;
  padding: 10px 20px;
}

.links a:hover {
  color: white;
  border: 1px solid none;
  width: 100%;
}

.links a::after {
  content: '';
  display: block;
  height: 2px;
  color: white;
  width: 0;
}


.links a:hover::after {
  width: 100%;
} 

.links a::after {
  height: 4px; 

}

.links a:hover::after {
  width: 120%; 
  margin-left: -10%; 
}


    /* WHERE THE CHANGES ENDS */

    .links a:hover{
        background-color: #29CA8E;
    }

    .links .active{
        display: block;
        width: 100%;
    }

    .review-card {
    flex: 0 0 85%;
  }



    
} 

@media screen and (max-width:414px) {
    body{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

      .known{
            position: absolute;
            bottom: 10%;
            right: 110%;
            font-weight: 700;
            color: #454545;
        }

    .contact-info{
        display: none;
    }

    .nav-container .links{
        display: none;
    }

    .three{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-left: 40px;
        margin-top: 280px; /********* DYNAMIC *********/
    }

    .practical{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .practical .journey{
        width: 350px;
        padding: 20px;
        margin-left: 10px;
    }

    .form{
        border: 1px solid none;
        height: 45vh;
        width: 365px;
        margin-left: 16px;
        padding: 10px;
        border-radius: 0%;
        margin-top: 10px;
    }

    .form .sign{
        margin-top: 10px;
    }

    .form .get_started{
        margin-top: 40px;
    } 

    .efficient{
    border: 1px solid none;
    margin-top: -470px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }

    .first_paragraph{
        font-weight: 800;
        font-size: 20px;
        color: #FFFFFF;
    }

    .second_paragraph{
        color: #FFFFFF;
        font-size: 11px;
    }

    .lower img{
        height: 100vh;
    }

    .three .two_three{
        margin-top: 40px;
    }

    .three .three_third{
        margin-top: 40px;
    }

    .teacher{
        margin-top: 50px;
    }
    
    .teacher .imageCard-container{
        display: flex;
        flex-wrap: wrap;
    }

        .hamburger{
        display: block;
        padding: 10px;
        margin-top: 7px;
    }

    /* .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } */

    .links{
        justify-content: space-between;
        align-items: center; 
        display: block;
    }

    /* COURSES */

    .popular_courses{
    border: 1px solid none;
    margin-top: 100px;
    margin-left: 25px;
    width: 90%;
}

.popular_courses h2{
    text-align: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

}